{% extends 'base.html' %}

{% block title %}
    <title>GUDLFT Registration</title>
{% endblock title %}

{% block content %}
    <h1>Welcome to the GUDLFT Registration Portal!</h1>
    <p>Please enter your secretary email to continue:</p>
    <form action="showSummary" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email"/>
        <button type="submit">Enter</button>
    </form>
    <a href="{{ url_for('public_board') }}">View clubs points</a>
{% endblock content %}