{% extends 'base.html' %}

{% block title %}
<title>Summary | GUDLFT Registration</title>
{% endblock title %}

{% block content %}
    <h2>Welcome, {{ club['email'] }}</h2>
    <a href="/logout">Logout</a>
    <p>Points available: {{ club['points'] }}</p>
    <h3>Competitions:</h3>
    <ul>
        {% for comp in competitions %}
        <li>
            <p>{{ comp['name'] }}</p></br>
            <p>Date: {{ comp['date'] }}</p></br>
            <p>Number of Places: {{ comp['number_of_places'] }}</p>
            {% if comp['number_of_places']|int >0 %}
                <a href="{{ url_for('book', competition=comp['name'], club=club['name']) }}">Book Places</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endblock content %}